
.icon-up-open:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */